$baseFontSize       : 16;
$baseLineHeight     : 1.5;
$leading            : $baseLineHeight * 1rem;
$unit               : $leading;
$scale              : 1.414;
$sans-serif         : 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$serif              : 'Cambria', 'Georgia', 'serif';
$font-family        : 'Proxima Nova', $sans-serif;
$header-font-family : $sans-serif;